@import url(https://fonts.googleapis.com/css?family=Raleway);

.container {
    display: flex;
    min-height: 1400px;
}

.right {
    flex: 1;
    padding: 50px 70px 30px 70px;
    border-left: 1px solid var(--separator-color);
}

.left {
    /*flex: 1;*/
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px 0 53px 30px;
}

.footer {
    margin-top: auto;
    padding-top: 30px;
}

.h4 {
    margin: 30px 0 0 0;
}

.email {
    color: var(--gray);
    font-size: 16px;
}

.info {
    margin-bottom: 50px;
}

.btn {
    cursor: pointer;
    width: 117px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 28.5px;
    background: #fe724c;
    box-shadow: 0px 10px 30px 0px rgba(254, 114, 76, 0.2);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.navItem {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.navItemChild {
    text-decoration: none;
    color: var(--black);
}

.navItemChild:hover {
    color: var(--primary-color);
}

.active {
    color: var(--primary-color);
}

.hidden-burger {
    display: none;
}

.count {
    background: var(--primary-color);
    color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

@media (max-width: 896px) {
    .container {
        display: block;
    }

    .right {
        display: flex;
        padding: 0;
    }

    .nav {
        display: flex;
    }
}

@media (max-width: 896px) {
    .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: none;
    }

    .hidden-burger {
        display: block;
    }

    .right {
        display: flex;
        justify-content: center;
    }
}
