.btn {
    border: none;
    color: var(--white);
    font-size: var(--font-size);
    transition: background 0.25s;
    border-radius: 29px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 10px 20px 0px rgba(119, 38, 129, 0.39);
}

.accent:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

.accent {
    background-color: var(--primary-color);
}

.small {
    width: auto;
    height: 44px;
    padding: 10px 25px;
}

.big {
    min-width: 248px;
    height: 60px;
    padding: 19px 59px;
    text-transform: uppercase;
}
