.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.line2 {
    transition: transform 0.2s ease-in-out;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.navbar {
    width: 99%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.menu-items {
    display: flex;
    background-color: var(--primary-color);
    order: -1;
}

.li-item-a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.li-item {
    list-style: none;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px white;
    height: 100vh;
    width: 99%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 2;
}

.li-item-a {
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.menu-img {
    display: flex;
    gap: 10px;
}

.ul {
    margin: 5px 0 0 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-container input[type='checkbox']:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type='checkbox']:checked ~ .logo {
    display: none;
}

.hidden-burger {
    display: none;
}

.hidden-clicked-component {
    display: none;
}

@media (max-width: 896px) {
    .hidden-burger {
        display: block;
    }
}
