.product {
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.name-price {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.count {
    display: flex;
    gap: 10px;
}

.count span {
    cursor: pointer;
}

.minus,
.plus {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.minus {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.plus {
    color: var(--white);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.price {
    color: var(--primary-color);
}

.img {
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    border-radius: 10px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
}

@media (max-width: 1715px) {
    .product {
        width: 100%;
    }
}

@media (max-width: 1274px) {
    .product {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 1071px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img {
        max-width: 500px !important;
        height: 100% !important;
    }
}

@media (max-width: 896px) {
    .product {
        width: 90%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 619px) {
    .product {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .img {
        width: 100%;
    }

    .name-price,
    .count {
        align-self: flex-start;
    }
}
